@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: local('Gilroy-Regular');
  src: url('./assets/fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Gilroy-Bold');
  src: url('./assets/fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  font-style: normal;
  font-display: auto;
  src: local('Gilroy-Semibold');
  src: url('./assets/fonts/Gilroy-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: auto;
  src: local('Gilroy-Semibold');
  src: url('./assets/fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-display: auto;
  src: local('Monaco');
  src: url('./assets/fonts/Monaco.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-display: auto;
  src: local('OpenSans-Regular');
  src: url('./assets/fonts/OpenSans-Regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' ;
}

*::-webkit-scrollbar {
  width:8px
}
/* background of the scrollbar except button or resizer */
//*::-webkit-scrollbar-track {
//  background-color:#EAEFF1
//}

*::-webkit-scrollbar-thumb {
  background-color:#C0C0C0;
  border-radius: 4px;
}
*::-webkit-scrollbar-button {display:none}
