.chat_wrapper {
  margin-left: 240px;
  height: 100vh;
  width: calc(100% - 240px);
  background-color: #ffffff;
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    border-bottom: 1px solid #B8B8B8;
  }
  .chat-body {
    height: calc(100vh - 70px);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0 23px 0 23px;
    box-sizing: border-box;
  }
}
