.chat_wrapper {
  margin-left: 240px;
  height: 100vh;
  width: calc(100% - 240px);
  background-color: #ffffff;
  .chat-header {
    display: flex;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    background-color: rgba(216,191,216,0.4);
    border-bottom: 1px solid rgb(216,191,216);
    .name {
      margin-left: 23px;
      font-size: 16px;
      font-family: Gilroy-Bold;
    }
  }
  .chat-body {
    height: calc(100vh - 70px);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0 23px 0 23px;
    box-sizing: border-box;
  }
}
