.drawer-wrapper {
  width: 550px;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #D3D3D3;
    align-items: center;
    .text {
      font-family: Gilroy-SemiBold;
      font-size: 16px;
      .name {
        color: #808080;
        display: flex;
        align-items: center;
        margin-top: 2px;
        font-size: 15px;
        font-family: OpenSans-Regular;
        .MuiSvgIcon-root {
          fill: #808080;
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }
    }
    .close {
      cursor: pointer;
      margin-right: 5px;
      .MuiSvgIcon-root {
        fill: #C0C0C0;
        &:hover {
          fill: #232f3e;
        }
      }
    }
  }
  .details-list {
    user-select: none;
    .title {
      font-family: OpenSans-Regular;
      font-size: 16px;
      font-weight: bold;
    }
    .MuiListItem-root {
      //border-bottom: 1px solid #D3D3D3;
      height: 56px;
      .MuiSvgIcon-root {
        margin-right: 6px;
        width: 16px;
        height: 16px;
      }
      &:hover {
        background-color: rgba(216,191,216,0.2);
      }
      &.Mui-selected {
        background-color: rgba(216,191,216,0.2);
      }
    }

    .members-list {
      border: none;
      cursor: unset;
      height: unset;
      &:hover {
        background: none;
      }
      .user-data {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: Roboto;
        font-weight: bold;
        cursor: pointer;
        .icon {
          height: 20px;
          width: 20px;
          border-radius:4px;
          font-size:12px;
          margin-right: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          .MuiSvgIcon-root {
            width: 19px;
            height: 19px;
            margin: unset;
          }
        }
        .online {
          margin-left: 6px;
          display: inline-block;
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          border: 2px solid #D3D3D3;
          &.true {
            border: 2px solid #3CB371;
            background-color: #3CB371;
          }
        }
      }
    }
    .add-member {
      margin-top: 6px;
      margin-left: 16px;
      height: 40px;
      background-color: rgba(216,191,216,0.2);
      border: 1px solid #808080;
      border-radius: 4px;
      color: #232f3e;
      outline: none;
      font-family: Gilroy-SemiBold;
      font-size: 15px;
      padding: 0 8px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: rgba(216,191,216,0.8);
      }
    }
  }
}

.add-users {
  width: 550px;
  .title {
    margin-left: 15px;
    font-family: Gilroy-Regular;
    font-weight: bold;
    font-size: 20px;
  }
  .sub-title {
    margin-left: 15px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 21px;
  }
  .users-drop-down {
    .users-select {
      position: relative;
      user-select: none;
      .select-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px;
        box-sizing: border-box;
        margin: 15px 0 10px 15px;
        width: 94%;
        border-bottom: 1px solid #800080;
        .default-text {
          color: #666666;
          font-family: OpenSans-Regular;
        }
        .selected {
          display: flex;
          li {
            list-style: none;
            font-size: 14px;
            color: #666666;
            font-family: OpenSans-Regular;
            display: inline;
            user-select: none;
            &:after {
              content: ', ';
            }
            &:last-child {
              &::after {
                content: none;
              }
            }
          }
        }
        .MuiSvgIcon-root {
          transform: rotate(90deg);
          color: #800080;
          cursor: pointer;
          width: 20px;
          height: 20px;
          margin-top: 4px;
        }
      }
      .select-content {
        font-family: OpenSans-Regular;
        position: absolute;
        display: flex;
        top: 52px;
        left: 14px;
        width: 94%;
        background-color: #fff;
        box-shadow: 0 4px 4px rgba(0, 31, 67, 0.2);
        border: 1px solid rgba(216,191,216,0.7);
        border-radius: 5px;
        z-index: 999;
        .items-container {
          max-height: 275px;
          overflow: auto;
          padding: 3px 0;
          width: 100%;
          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px;
            cursor: pointer;
            &:hover {
              background-color: rgba(216,191,216,0.2);
            }
            .text {
              font-family: OpenSans-Regular;
              font-size: 14px;
              color: #666666;
            }
            .icons {
              display: flex;
              .clear {
                margin-left: 5px;
                .MuiSvgIcon-root {
                  transform: unset;
                  fill: #B8B8B8;
                  cursor: pointer;
                }
              }
            }
            .MuiSvgIcon-root {
              transform: unset;
            }
          }
        }
      }
    }
  }

  .add-btn {
    float: right;
    margin-right: 20px;
    outline: none;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 40px;
    width: 70px;
    cursor: pointer;
    padding: 0 12px;
    box-sizing: border-box;
    font-family: Gilroy-Regular;
    font-weight: bold;
    font-size: 15px;
    background-color: #800080;
    border: 1px solid #800080;
    border-radius: 4px;
    color: #F8F8F8;
  }
}

@media (max-width: 1650px) {
  .drawer-wrapper {
    width: 400px;
    .header {
      .text {
        font-size: 15px;
        .name {
          font-size: 13px;
        }
      }
    }
    .details-list {
      .title {
        font-size: 14px;
      }
      .members-list {
        .user-data {
          font-size: 14px;
        }
      }
    }
  }
  .add-users {
    .users-drop-down {
      .users-select {
        .select-content {
          top: 44px;
        }
      }
    }
  }
}
