.keyboard-wrapper {
  min-height: 70px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid  #232f3e;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .text-area {
    width: 100%;
    min-height: 40px;
    outline: none;
    resize: none;
    border: none;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Monaco;
    color: #232f3e;
  }

  .keyboard-options {
    height: 30px;
    width: 100%;
    border-top: 1px solid #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    box-sizing: border-box;

    .text-options {

    }

    .extra-options {
      display: flex;
      align-items: center;
      .icon {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin-right: 8px;
      }

      .emoji-mart-search input {
        border-radius: 15px;
      }
      .emoji-mart-preview {
        .emoji-mart-preview-emoji {
          span {
            height: 25px !important;
            width: 25px !important;
          }
        }
        .emoji-mart-preview-data {
          .emoji-mart-title-label {
            font-size: 16px;
          }
        }
      }
    }
  }
}
